<?xml version="1.0"?>
<launch>

  <!-- <node name="imu_calibrated" pkg="imu_calib" type="apply_calib"  output="screen" respawn="true" respawn_delay="4">
    <remap from="raw" to="puma/sensors/imu/raw"/>
    <remap from="corrected" to="puma/sensors/imu/corrected"/>
    <param name="calib_file" value="$(find puma_bringup_jetson)/config/imu_calib.yaml"/>
  </node> -->
  
  <node name="imu_filter" pkg="imu_filter_madgwick" type="imu_filter_node" output="screen">
    <remap from="/imu/mag" to="/mag"/>
    <remap from="/imu/data_raw" to="/puma/sensors/icm20948/imu"/>
    <remap from="/imu/data" to="/imu/filtered"/>
x    <param name="publish_tf" value="true"/>
    <!-- <param name="orientation_stddev" value="0.05" /> -->
    <param name="use_mag" value="true" /> <!-- Habilitar magnetómetro -->
    <param name="world_frame" value="enu" /> <!-- Asegurar marco ENU -->
  </node>

  <node name="imu_filter_corrected_mag" pkg="imu_filter_madgwick" type="imu_filter_node" output="screen">
    <param name="use_mag" type="bool" value="true"/>
    <remap from="/imu/mag" to="/mag/corrected"/>
    <param name="world_frame" type="string" value="enu" />
    <remap from="/imu/data_raw" to="/puma/sensors/icm20948/imu"/>
    <remap from="/imu/data" to="/imu_with_correct_mag/filtered"/>
    <param name="publish_tf" value="false"/>
  </node>

  <node name="imu_filter_without_mag" pkg="imu_filter_madgwick" type="imu_filter_node" output="screen">
    <param name="use_mag" type="bool" value="false"/>
    <remap from="/imu/mag" to="/mag/corrected"/>
    <param name="world_frame" type="string" value="enu" />
    <remap from="/imu/data_raw" to="/puma/sensors/icm20948/imu"/>
    <remap from="/imu/data" to="/imu_without_mag/filtered"/>
    <param name="publish_tf" value="false"/>
  </node>

</launch>