<?xml version="1.0"?>
<launch>
  <!-- Load params-->
  <rosparam command="load" file="$(find puma_bringup_jetson)/config/jetson_params.yaml"/>
  
  <!-- Arduino -->
  <include file="$(find puma_bringup_jetson)/launch/core/arduino.launch"/>
  <!-- Reverse manage -->
  <include file="$(find puma_bringup_jetson)/launch/core/reverse.launch"/>
  <!-- Parking manage -->
  <include file="$(find puma_bringup_jetson)/launch/core/parking.launch"/>
  <!-- Gps -->
  <include file="$(find puma_bringup_jetson)/launch/core/gps_ublox.launch"/>
  <!-- Joy-->
  <include file="$(find puma_bringup_jetson)/launch/core/joy.launch"/>
  <!-- mode selector -->
  <include file="$(find puma_bringup_jetson)/launch/core/control_mode.launch"/>
  <!-- Monitor pc -->
  <include file="$(find puma_bringup_jetson)/launch/core/jetson_monitor.launch"/>
  <!-- Controller -->
  <include file="$(find puma_bringup_jetson)/launch/core/controller.launch"/>
  <!-- IMU -->
  <include file="$(find puma_bringup_jetson)/launch/imu_bringup.launch"/>
  <!-- Camara realsense -->
  <include file="$(find puma_bringup_jetson)/launch/camera_odom.launch"/>
  

</launch>