<?xml version="1.0"?>
<launch>

  <node pkg="imu_filter_madgwick" type="imu_filter_node" name="imu_filter_camera_rear" output="$(arg output)" clear_params="true">
    <param name="use_mag" type="bool" value="false" />
    <param name="publish_tf" type="bool" value="false" />
    <param name="world_frame" type="string" value="enu" />
    <remap from="imu/data_raw" to="puma/sensors/camera_rear/imu"/>
    <remap from="imu/data" to="puma/sensors/camera_rear/imu/filtered"/>
  </node> 

</launch>