<?xml version="1.0"?>
<launch>
  <arg name="path" value="$(find puma_simulation)/config/nav"/>
  
  <arg name="map_file" default="$(find puma_simulation)/maps/blank_map_2.yaml"/>
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

  <node name="move_base" pkg="move_base" type="move_base" output="screen" clear_params="true">
    <rosparam command="load" file="$(arg path)/costmap_common.yaml" ns="global_costmap"/>
    <rosparam command="load" file="$(arg path)/costmap_common.yaml" ns="local_costmap"/>
    <rosparam command="load" file="$(arg path)/global_costmap.yaml"/>
    <rosparam command="load" file="$(arg path)/local_costmap.yaml"/>

    <!-- <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />  -->
    <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
    <param name="base_global_planner" value="puma_hybrid_astar_planner/PumaHybridAStarPlanner"/>
    <rosparam command="load" file="$(arg path)/hybrid_puma_planner.yaml"/>
    
    <!-- <rosparam command="load" file="$(arg path)/base_global_planner.yaml"/> -->
    <rosparam command="load" file="$(arg path)/teb_cmdvel.yaml"/>
    <!-- <rosparam command="load" file="$(arg path)/dwa_planner.yaml"/> -->
    <param name="clearing_rotation_allowed" value="false" /> 

  </node>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find puma_simulation)/rviz/nav_dwa.rviz" />
</launch>