<launch>

  <!-- Launch Gazebo -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
  </include>

  <!-- Spawn the robot -->
  <param name="robot_description" command="$(find xacro)/xacro '$(find puma_model)/urdf/puma_model.urdf.xacro'" />

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher" />
  <node
    name="joint_state_publisher"
    pkg="joint_state_publisher"
    type="joint_state_publisher" />

  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model puma_model" />

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find puma_gazebo)/config/puma_control.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" args=" wheel_right_controller wheel_left_controller dir_right_controller dir_left_controller"/>

  <!-- Load interface control joint -->
  <node name="puma_gazebo" pkg="puma_gazebo" type="gazebo_controller_node.py" output="screen"/>

  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find puma_simulation)/rviz/model.rviz" />

</launch>