<?xml version="1.0"?>
<launch>

  <rosparam command="load" file="$(find puma_simulation)/config/localization_params.yaml"/>
  <node name="puma_ekf_odom" pkg="robot_localization" type="ekf_localization_node" clear_params="true">
    <remap from="odometry/filtered" to="puma/localization/ekf_odometry"/>
    <remap from="set_pose" to="puma_ekf_odom/set_pose"/>
  </node>
  <include file="$(find puma_simulation)/launch/core/visual_odometry.launch">
    <arg name="camera_name" value="camera_front"/>
  </include>
  <include file="$(find puma_simulation)/launch/core/visual_odometry.launch">
    <arg name="camera_name" value="camera_rear"/>
  </include>

  <!-- Transformación estática entre map y odom -->
  <!-- <arg name="static_tf" default="true" />
  <node if="$(arg static_tf)" pkg="tf2_ros" type="static_transform_publisher" name="odom_wrt_map_tf" args="0 0 0 0 0 0 map odom" /> -->

  <!-- <node name="robot" pkg="robot_localization" type="robot" output="screen"/> -->
  
  <!-- <node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform" clear_params="true">
    <remap from="odometry/filtered" to="odometry/filtered_map"/>
  </node>
  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se_map" clear_params="true">
    <remap from="odometry/filtered" to="odometry/filtered_map"/>
  </node> -->

</launch>