<?xml version="1.0"?>
<launch>
  <!-- Cargar modelo simulacion -->
  <include file="$(find puma_simulation)/launch/core/model_gazebo.launch"/>
  
  <!-- Puma controller -->
  <rosparam command="load" file="$(find puma_simulation)/config/puma_controller.yaml"/>
  <node name="puma_controller_node" pkg="puma_controller" type="puma_controller_node.py" output="screen"/>

  <!-- Control de modos -->
  <node name="control_mode_node" pkg="puma_mode_control" type="control_mode_node.py" output="screen"/>

  <!-- Nodos simulados robot original -->
  <node name="puma_gazebo_fake" pkg="puma_fake_driver" type="gazebo_controller_node.py" output="screen"/>

  <!-- Incluir odometría -->
  <include file="$(find puma_odometry)/launch/puma_odometry.launch"/>

  <!-- Transformación estática entre map y odom -->
  <arg name="static_tf" default="true" />
  <node if="$(arg static_tf)" pkg="tf2_ros" type="static_transform_publisher" name="odom_wrt_map_tf" args="0 0 0 0 0 0 map odom" />

</launch>