<?xml version="1.0"?>
<launch>
  <!-- Cargar modelo simulacion -->
  <include file="$(find puma_simulation)/launch/core/model_gazebo.launch"/>
  
  <!-- Puma controller -->
  <rosparam command="load" file="$(find puma_simulation)/config/puma_controller.yaml"/>
  <node name="puma_controller" pkg="puma_controller" type="puma_controller_node.py" output="screen"/>

  <!-- Control de modos -->
  <node name="control_mode_node" pkg="puma_mode_control" type="control_mode_node.py" output="screen"/>

  <!-- Nodos simulados robot original -->
  <node name="puma_gazebo_fake" pkg="puma_fake_driver" type="gazebo_controller_node.py" output="screen"/>

  <!-- Incluir odometría -->
  <include file="$(find puma_odometry)/launch/puma_odometry.launch"/>

  <include file="$(find puma_robot_status)/launch/battery_status.launch"/>

  <!-- Logger -->
  <node name="logger_puma" pkg="puma_robot_status" type="logger_manager_node.py">
    <param name="is_simulation" value="true"/>
  </node>


  <!-- <node name="logger_puma" pkg="puma_web_interface" type="logger_manager_node.py" output="screen"/>
  <node name="filter_msg_web" pkg="puma_web_interface" type="filter_topics_node.py" output="screen"/> -->


</launch>