<?xml version="1.0"?>
<launch>
  <arg name="path" value="$(find puma_simulation)/config/nav"/>
  

  <node name="move_base" pkg="move_base" type="move_base" output="screen" clear_params="true">
    <rosparam command="load" file="$(arg path)/costmap_common.yaml" ns="global_costmap"/>
    <rosparam command="load" file="$(arg path)/costmap_common.yaml" ns="local_costmap"/>
    <rosparam command="load" file="$(arg path)/global_costmap.yaml"/>
    <rosparam command="load" file="$(arg path)/local_costmap.yaml"/>

    <!-- <param name="base_global_planner" value="global_planner/GlobalPlanner" /> -->
    <!-- <param name="base_local_planner" value="eband_local_planner/EBandPlannerROS" /> -->
    <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS"/>

    <rosparam command="load" file="$(arg path)/base_global_planner.yaml"/>
    <!-- <rosparam command="load" file="$(arg path)/teb_cmdvel.yaml"/> -->
    <rosparam command="load" file="$(arg path)/dwa_planner.yaml"/>

  </node>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find puma_simulation)/rviz/model.rviz" />
</launch>