<?xml version="1.0"?>
<launch>
  <arg name="path" value="$(find puma_simulation)/config/nav"/>
  
  <arg name="map_file" default="$(find puma_simulation)/maps/map_example.yaml"/>
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

  <node name="move_base" pkg="move_base" type="move_base" output="screen" clear_params="true">
    <rosparam command="load" file="$(arg path)/costmap_common.yaml" ns="global_costmap"/>
    <rosparam command="load" file="$(arg path)/costmap_common.yaml" ns="local_costmap"/>
    <rosparam command="load" file="$(arg path)/global_costmap.yaml"/>
    <rosparam command="load" file="$(arg path)/local_costmap.yaml"/>

    <param name="base_global_planner" value="global_planner/GlobalPlanner" />
		<param name="planner_frequency" value="1.0" />
		<param name="planner_patience" value="5.0" />

		<!-- <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" /> -->
		<param name="controller_frequency" value="5.0" />
		<param name="controller_patience" value="15.0" /> 

    <rosparam command="load" file="$(arg path)/base_global_planner.yaml"/>
    <rosparam command="load" file="$(arg path)/teb_cmdvel.yaml"/>
    <param name="clearing_rotation_allowed" value="false" /> 
    <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />

  </node>
</launch>