<launch>
  <node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform_node" clear_params="true">
    <rosparam command="load" file="$(find puma_simulation)/config/navsat_transform.yaml" />

      <!-- Placeholders for input remapping. Set your topic names as the "to" values.
      -->
      <remap from="imu/data" to="imu2"/>
      <!-- <remap from="odometry/filtered" to="odom"/> -->
      <remap from="gps/fix" to="gps"/>

  </node> 
</launch>