<?xml version="1.0"?>
<launch>
  <arg name="path" value="$(find puma_simulation)/config/nav"/>
  
  <!-- RTAB-Map (mapeo y SLAM) -->
  <node pkg="rtabmap_slam" type="rtabmap" name="rtabmap" output="screen">
    <param name="subscribe_depth" value="true" /> <!-- Si usas la cámara Realsense -->
    <param name="subscribe_rgbd" value="true" />
    <param name="subscribe_scan" value="false" /> <!-- Si no usas LiDAR -->
    <param name="subscribe_scan_cloud" value="false" />
    <param name="frame_id" value="camera_link" />
    <param name="approx_sync" value="true" />

    <!-- Parámetros del SLAM -->
    <param name="RGBD/LinearUpdate" value="0.1" />
    <param name="RGBD/AngularUpdate" value="0.1" />
    <param name="RGBD/CreateOccupancyGrid" value="true" /> <!-- Genera un grid de ocupación para la navegación -->
    <param name="Grid/FromDepth" value="true" />
    <param name="Grid/3D" value="false" /> <!-- Si quieres usar un mapa 2D para el costmap -->
    
    <!-- Usa odometría fusionada con robot localization -->
    <remap from="odom" to="/puma/odometry/filtered" />

    <!-- Tópicos de la cámara Realsense -->
    <remap from="rgb/image" to="/puma/camera/color/image_raw" />
    <remap from="depth/image" to="/puma/camera/aligned_depth_to_color/image_raw" />
    <remap from="rgb/camera_info" to="/puma/camera/color/camera_info" />
    <remap from="depth/camera_info" to="/puma/camera/aligned_depth_to_color/camera_info" />
  </node>

 
</launch>