<launch>
    
    <arg name="path" value="$(find puma_navigation_simulation)/config/test"/>
  
    <arg name="map_file" default="$(find puma_navigation_simulation)/maps/blank_map.yaml"/>
    <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

  <node name="move_base" pkg="move_base" type="move_base" output="screen" clear_params="true">
    <!-- <rosparam command="load" file="$(arg path)/base_global_planner.yaml" />  -->
    <rosparam command="load" file="$(arg path)/costmap_common.yaml" ns="global_costmap"/>
    <rosparam command="load" file="$(arg path)/costmap_common.yaml" ns="local_costmap"/>
    <rosparam command="load" file="$(arg path)/global_costmap.yaml"/>
    <rosparam command="load" file="$(arg path)/local_costmap.yaml"/>

    <param name="base_global_planner" value="global_planner/GlobalPlanner" />
    <rosparam command="load" file="$(arg path)/base_global_planner.yaml"/>
    <param name="planner_frequency" value="1.0" />
    <param name="planner_patience" value="5.0" />

    <param name="base_local_planner" value="puma_local_planner/PumaLocalPlanner" />
    <param name="controller_frequency" value="5.0" />
    <param name="controller_patience" value="15.0" />

    <param name="clearing_rotation_allowed" value="false" /> <!-- Our carlike robot is not able to rotate in place -->
    <!-- <param name="base_global_planner" value="global_planner/GlobalPlanner" /> -->
		<!-- <param name="planner_frequency" value="1.0" />
		<param name="planner_patience" value="5.0" /> -->
    <!-- <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" /> -->
    <!-- <rosparam command="load" file="$(arg path)/base_local_planner.yaml"/> -->
		<!-- <param name="base_local_planner" value="puma_local_planner/PumaLocalPlanner" /> -->
    <!-- <remap from="move_base/PumaLocalPlanner/puma/arduino/status" to="/puma/arduino/status"/> -->
    
  </node>

</launch>