<launch>
    <!-- Arguments -->
    <arg name="map_file" default="$(find puma_navigation_simulation)/maps/blank_map.yaml"/>
    <arg name="open_rviz" default="true"/>
    <arg name="move_forward_only" default="false"/>

    <!-- Run the map server-->
    <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

  
    <!-- Static tf between map and odom -->
    <!-- <arg name="static_tf" default="true" />
    <node if="$(arg static_tf)" pkg="tf2_ros" type="static_transform_publisher" name="odom_wrt_map_tf" args="0 0 0 0 0 0 map odom" /> -->

    <!-- move_base -->
    <include file="$(find puma_navigation_simulation)/launch/move_base.launch">
    </include>

    <!-- rviz --> 
    <!-- <group if="$(arg open_rviz)"> 
        <node pkg="rviz" type="rviz" name="rviz" required="true"
            args="-d $(find puma_navigation_simulation)/rviz/puma.rviz"/>
    </group> -->

</launch>