<?xml version="1.0"?>
<launch>


  <node name="logger_puma" pkg="puma_web_interface" type="logger_manager_node.py"/>
  <!-- <node name="post_ros_to_web" pkg="puma_web_interface" type="post_data_backend.py" output="screen"/> -->
  <node name="get_web_to_ros" pkg="puma_web_interface" type="get_data_backend.py" output="screen"/>
  <node name="manage_teleoperation_backend" pkg="puma_web_interface" type="manage_teleoperation_backend.py" output="screen"/>
  <node name="send_robot_status_backend" pkg="puma_web_interface" type="send_robot_status_backend.py" output="screen"/>

</launch>