<?xml version="1.0"?>
<launch>

  <arg name="backend_url" default="http://smartbot.la/pumabot"/>
  <arg name="username" default="admin"/>
  <arg name="password" default="admin"/>

  <node
    name="get_token_api"
    pkg="puma_web_interface"
    type="get_token_node.py"
    output="screen"
    respawn="true"
    respawn_delay="4"
    clear_params="true"
  >
    <param name="backend_url" value="$(arg backend_url)"/>
    <param name="username" value="$(arg username)"/>
    <param name="password" value="$(arg password)"/>
  </node>

  <node 
    name="send_robot_status_backend" 
    pkg="puma_web_interface" 
    type="send_robot_status_backend.py" 
    output="screen"
    respawn="true"
    respawn_delay="4"
    clear_params="true"
  >
    <param name="backend_url" value="$(arg backend_url)"/>
  </node>

  <node 
    name="get_web_command_to_ros" 
    pkg="puma_web_interface" 
    type="get_command_backend.py" 
    output="screen" 
    respawn="true" 
    respawn_delay="4"
    clear_params="true"
  >
    <param name="backend_url" value="$(arg backend_url)"/>
  </node>

  <node 
    name="manage_teleoperation_backend" 
    pkg="puma_web_interface" 
    type="manage_teleoperation_backend.py" 
    output="screen" 
    respawn="true" 
    respawn_delay="4"
    clear_params="true"
  >
    <param name="backend_url" value="$(arg backend_url)"/>
  </node>

  <node 
    name="update_logs_backend" 
    pkg="puma_web_interface" 
    type="update_logs_backend.py" 
    output="screen" 
    respawn="true" 
    respawn_delay="4"
    clear_params="true"
  >
    <param name="backend_url" value="$(arg backend_url)"/>
  </node>


</launch>