<launch>
  <arg name="device_type"         default="d455"/>
  <arg name="camera"              default="camera"/>

  <group ns="puma/camera">
    <include file="$(find realsense2_camera)/launch/includes/nodelet.launch.xml">
      <arg name="output"                   value="screen"/>
      <arg name="respawn"                  value="true"/>
      <arg name="device_type"              value="$(arg device_type)"/>

      <arg name="depth_width"       value="640"/>
      <arg name="depth_height"      value="480"/>
      <arg name="depth_fps"         value="30"/>
      <arg name="color_width"       value="640"/>
      <arg name="color_height"      value="480"/>
      <arg name="color_fps"         value="30"/>
      <arg name="enable_depth"      value="true"/>
      <arg name="enable_color"      value="true"/>
      <arg name="enable_infra1"     value="false"/>
      <arg name="enable_infra2"     value="false"/>
      <arg name="enable_fisheye"    value="false"/>
      <arg name="align_depth"       value="true"/>

      <arg name="enable_gyro"       value="true"/>
      <arg name="enable_accel"      value="true"/>
      <arg name="linear_accel_cov"  value="1.0"/>
      <arg name="unite_imu_method"  value="linear_interpolation"/>
      <arg name="enable_pose"       value="true"/>

      <arg name="enable_pointcloud" value="true"/>
      <arg name="enable_sync"       value="true"/>
      <arg name="tf_prefix"         value="$(arg camera)"/>
      
    </include>
  </group> 
  
</launch>