<?xml version="1.0"?>
<launch>

  <rosparam command="load" file="$(find puma_bringup)/config/navsat.yaml"/>
  <node name="navsat_transform" pkg="robot_localization" type="navsat_transform_node" respawn="true" respawn_delay="4">
    <remap from="imu/data" to="puma/sensors/camera_front/imu/filtered"/>
    <remap from="gps/fix" to="puma/sensors/gps/fix"/>
    <remap from="gps/filtered" to="puma/sensors/gps/filtered"/>
    <remap from="odometry/gps" to="puma/localization/gps_odometry"/>
  </node>

  <node name="puma_ekf_map" pkg="robot_localization" type="ekf_localization_node" clear_params="true">
    <remap from="odometry/filtered" to="puma/localization/filtered_map"/>
  </node>

</launch>