<?xml version="1.0"?>
<launch>
  <rosparam command="load" file="$(find puma_odometry)/config/odometry_params.yaml"/>
  
  <node name="puma_odometry_node" pkg="puma_odometry" type="puma_odometry_node.py" output="screen">
    <remap from="puma/odom" to="puma/localization/odometry_wheel"/>
  </node>
  
</launch>