<launch>
  <rosparam file="$(find puma_controller)/config/puma_controller.yaml" command="load"/>

  <node pkg="puma_controller" name="puma_controller" type="puma_controller_node.py" output="screen"/>
  <node pkg="puma_controller" name="puma_ackermann" type="convert_ackermann_node.py" output="screen"/>
</launch>