<?xml version="1.0"?>
<launch>
    
  <node name="jetson_sytem_monitor" pkg="puma_system_monitor" type="system_monitor_node.py" ns="/puma/jetson" output="log" respawn="true" respawn_delay="1">
    <param name="thermal_zone" value="1"/>
    <remap from="/cpu_usage" to="/puma/jetson/cpu_usage"/>
    <remap from="/cpu_temperature" to="/puma/jetson/cpu_temperature"/>
    <remap from="/memory_usage" to="/puma/jetson/memory_usage"/>
  </node>

</launch>