<?xml version="1.0"?>
<launch>
  <arg name="path" value="$(find puma_bringup)/launch/core"/>

  <!-- Camera -->
  <include file="$(find puma_bringup)/launch/core/realsense_camera.launch">
    <arg name="camera_name" value="camera_front"/>
    <arg name="serial_no" value="215122254316"/>
  </include>
  <!-- visual odometry -->
  <include file="$(find puma_bringup)/launch/localization/visual_odometry.launch">
    <arg name="camera_name" value="camera_front"/>
  </include>
  <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="camera_front_imu_tf" args="0 0 0 0 0 0 camera_front_link base_link"/> -->

</launch>