<?xml version="1.0"?>
<launch>
  <arg name="navigation" default="puma" doc="navigation type [puma, dwa]"/>
  
  <!-- Arduino -->
  <node name="serial_node_minipc" pkg="rosserial_python" type="serial_node.py"  output="log" respawn="true" respawn_delay="2">
  </node>
  <!-- Camera -->
  <include file="$(find puma_bringup)/launch/core/realsense_camera.launch"/>
  <!-- Localization -->
  <include file="$(find puma_bringup)/launch/core/localization_bringup.launch"/>
  <!-- Navigation -->
  <include file="$(find puma_bringup)/launch/core/$(arg navigation)_navigation_bringup.launch"/>
  <!-- visual odometry -->
  <include file="$(find puma_bringup)/launch/core/visual_odometry.launch"/>
  <!-- Monitor temperature -->
  <include file="$(find puma_system_monitor)/launch/core/minipc_monitor.launch"/>
  <!-- Rtabmap slam -->
  <include file="$(find puma_bringup)/launch/core/slam_rtabmap.launch"/>
  
  
</launch>