<?xml version="1.0"?>
<launch>
  <!-- Camera -->
  <include file="$(find puma_bringup)/launch/realsense_camera.launch"/>
  <!-- Localization -->
  <include file="$(find puma_bringup)/launch/localization_bringup.launch"/>
  <!-- Navigation -->
  <include file="$(find puma_bringup)/launch/navigation_bringup.launch"/>
  <!-- visual odometry -->
  <include file="$(find puma_bringup)/launch/visual_odometry.launch"/>
</launch>