<?xml version="1.0"?>
<launch>
  <arg name="dual_camera" default="false"/>
  
  <!-- Arduino -->
  <node name="serial_node_minipc" pkg="rosserial_python" type="serial_node.py"  output="log" respawn="true" respawn_delay="2">
  </node>

  <!-- camera -->
  <include file="$(find puma_bringup)/launch/camera_bringup.launch">
    <arg name="dual_camera" value="$(arg dual_camera)"/>
  </include>

  <arg name="path" value="$(find puma_bringup)/launch/core"/>

  <!-- Localization -->
  <include file="$(arg path)/localization_bringup.launch"/>
  <!-- Navigation -->
  <include file="$(arg path)/new_navigation_bringup.launch"/>
  <!-- Monitor temperature -->
  <include file="$(arg path)/minipc_monitor.launch"/>
  
  <include file="$(arg path)/nav_manager.launch"/>

  <include file="$(find puma_state_machine)/launch/state_machine_v2.launch"/>

  <include file="$(arg path)/imu_filter_realsense.launch"/>


</launch>