<?xml version="1.0"?>
<launch>
  
  <!-- Arduino -->
  <node name="serial_node_minipc" pkg="rosserial_python" type="serial_node.py"  output="log" respawn="true" respawn_delay="2">
  </node>
  <arg name="path" value="$(find puma_bringup)/launch/core"/>
  <!-- Camera -->
  <include file="$(arg path)/realsense_camera.launch"/>
  <!-- Localization -->
  <include file="$(arg path)/localization_bringup.launch"/>
  <!-- Navigation -->
  <include file="$(arg path)/puma_slam_navigation_bringup.launch"/>
  <!-- visual odometry -->
  <include file="$(arg path)/visual_odometry.launch"/>
  <!-- Monitor temperature -->
  <include file="$(arg path)/minipc_monitor.launch"/>
  <!-- Rtabmap slam -->
  <include file="$(arg path)/slam_rtabmap.launch"/>
  
  
</launch>