<?xml version="1.0"?>
<launch>
  
  <!-- camera -->
  <include file="$(find puma_bringup)/launch/camera_bringup.launch"/>

  <!-- Navigation -->
  <include file="$(find puma_bringup)/launch/navigation/navigation_bringup.launch"/>
  <include file="$(find puma_bringup)/launch/navigation/map_server.launch"/>
  
  <include file="$(find puma_bringup)/launch/core/nav_manager.launch"/>

  <include file="$(find puma_state_machine)/launch/state_machine_v2.launch"/>

  <!-- Localization -->
  <include file="$(find puma_bringup)/launch/localization/imu_filter_realsense.launch"/>
  <include file="$(find puma_bringup)/launch/localization/localization_bringup.launch"/>
  <!-- Static Tf between map and odom -->
  <include file="$(find puma_bringup)/launch/localization/static_tf_map.launch" />
  <!-- <include file="$(find puma_bringup)/launch/localization/gps_localization.launch"/> -->

</launch>