<?xml version="1.0"?>
<launch>
  <rosparam command="load" file="$(find puma_localization)/config/dual_ekf_params.yaml"/>

  <node name="ekf_odom" pkg="robot_localization" type="ekf_localization_node" clear_params="true"/>
  
  <!-- <node name="ekf_map" pkg="robot_localization" type="ekf_localization_node"  clear_params="true">
    <remap from="odometry/filtered" to="odometry/filtered_map"/>
  </node> -->
  
</launch>