<?xml version="1.0"?>
<launch>
  <!-- Load params-->
  <rosparam command="load" file="$(find puma_bringup)/config/jetson_params.yaml"/>
  
  <!-- Arduino -->
  <node name="arduino_node" pkg="rosserial_python" type="serial_node.py" output="screen" respawn="true">
    <param name="port" value="/dev/ttyUSB0"/>
    <param name="baud" value="57600" />
  </node>
  <!-- Reverse manage -->
  <node name="puma_reverse" pkg="puma_reverse" type="puma_reverse_node.py" output="screen"/>
  <!-- Parking manage -->
  <node name="puma_parking" pkg="puma_parking" type="puma_parking_node.py" output="screen"/>
  <!-- joy -->
  <node respawn="true" pkg="joy" type="joy_node" name="joy_node" >
    <param name="dev" type="string" value="/dev/input/js0" />
    <param name="deadzone" value="0.12" />
    <param name="default_trig_val" value="true" />
  </node>
  <!-- joy puma -->
  <node name="puma_joy" pkg="puma_joy" type="puma_joy_node.py" output="screen"/>
  <!-- IMU -->
  <node name="puma_imu_driver" pkg="puma_imu_driver" type="puma_imu_driver_node.py" output="screen"/>
  
</launch>