[Unit]
Description=Inicializando servidor websocket con rosbridge
After=network-online.target
Wants=network-online.target

[Service]
Environment="ROS_MASTER_URI=http://10.42.0.100:11311"
Environment="ROS_IP=10.42.0.11"
User=puma
Group=puma
WorkingDirectory=/home/puma
ExecStart=/usr/local/bin/puma-rosbridge-server.sh
Restart=always
RestartSec=10
StartLimitInterval=60
StartLimitBurst=3

[Install]
WantedBy=multi-user.target
